{% extends 'base.html.twig' %}

{% block title %}Modifier une vidéo{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('textarea') }}
{% endblock %}

{% block body %}
    <div class="container admin-videos-container">
        <h1>Modifier une vidéo</h1>

        {{ include('admin/video/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('app_video_index') }}" class="btn-blue">Revenir à la liste</a>
    </div>
{% endblock %}
