html {
    height: 100%;
    width: 100%;
    font-size: $font-size-desktop;
    scroll-behavior: smooth;
}

body {
    background: $background-color-main;
    color: $color-main;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.container {
    padding: 1rem;

    h1 {
        text-align: center;
        font-size: 1.4rem;
        padding: 1rem;
    }
}

a, a:visited {
    //color: transparentize($color-white, .2);
    text-decoration: none;
    transition: .3s;
    font-weight: 600;

    &:hover {
        //color: $color-white;
    }
}

//. -------------------------- MEDIA SCREEN ---------------------------
@include screen(tablet) {
    html {
        //font-size: $font-size-desktop;
    }
}