.alert {
    //border-radius: $border-radius;
    color: $color-white;
    padding: 1rem;
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    position: relative;
    pointer-events: none;

    &:hover:after {
        cursor: pointer;
    }

    &:after {
        pointer-events: all;
        content: '×';
        position: absolute;
        top: -.3rem;
        right: .3rem;
        font-size: 2rem;
        font-weight: 300;
    }

    &.alert-success {
        background-color: lighten($color-green, 50);
        //border: 1px solid $color-green;
        color:  darken($color-green, 20);

        &:after {
            color:  darken($color-green, 20);
        }
    }

    &.alert-warning {
        background-color: lighten($color-orange, 10);
        //border: 1px solid $color-orange;
        color:  darken($color-orange, 30);

        &:after {
            color:  darken($color-orange, 30);
        }
    }

    &.alert-danger {
        background-color: lighten($color-red, 50);
        //border: 1px solid $color-red;
        color:  darken($color-red, 20);

        &:after {
            color:  darken($color-red, 20);
        }
    }
}