body {
    @each $name, $color in $colors {
        .btn-#{$name} {
            border: $border;
            border-radius: $border-radius;
            color: $color-white;
            cursor: pointer;
            display: inline-block;
            font-size: .9rem;
            outline: none;
            padding: .5rem 1rem;
            width: auto;
            background-color: $color;
            text-decoration: none;
            @if $name == "white" {
                color: $color-dark;
            }

            &:hover {
                color: $color-white;
                text-decoration: none;
                background-color: darken($color, 5);
                @if $name == "white" {
                    color: $color-dark;
                }
            }

            img {
                height: 1rem;
                width: auto;
            }

            &.btn-large{
                width: 100%;
            }

            &.btn-disabled{
                background-color: $color-dark-gray;
                cursor: default;
                pointer-events: none;
                user-select: none;
            }
        }
    }
}