.videos-index-container{
    padding: 1rem .25rem;
}

.grid-table {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    border: $border;
    margin: 1rem auto;
    width: 98%;

    @include striped(7);

    > div{
        display: flex;
        justify-content: flex-start;
        //border: $border;
        padding: .5rem;
        text-align: center;
    }

    .grid-table-title{
        align-items: center;
    }

    .grid-table-header{
        justify-content: center;
        font-weight: 600;
    }

    .grid-table-description,
    .grid-table-url,
    .grid-table-created-at,
    .grid-table-updated-at {
        justify-content: center;
        display: none;
        align-items: center;
    }

    .grid-table-image{
        justify-content: center;
        img{
            width: 100%;
            max-width: 250px;
            height: auto;
        }
    }

    .grid-table-actions{
        justify-content: center;
        flex-direction: column;
    }
}

@include screen(tablet) {
    .grid-table {
        grid-template-columns: 3fr 3fr 1fr;
        width: 90%;
    }

}

@include screen(desktop) {
    .grid-table {
        grid-template-columns: 3fr 3fr 1fr 1fr 1fr;
        width: 80%;

        .grid-table-created-at,
        .grid-table-updated-at
        {
            display: flex;
        }
    }
}
