.videos-container {
    position: relative;
    padding-bottom: 50px;

    .pagination {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.videos {
    display: grid;


    @include dimension-image(1);

    .video {
        margin: 10px;
        flex: 1;

        h2 {
            padding: 5px;
            text-align: left;
            font-size: 1.1rem;
            font-weight: 400;
        }


        .img {
            margin: auto;
            text-align: center;
            overflow: hidden;
            border: $border;
            border-radius: $border-radius;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@include screen(tablet) {
    .videos {
        @include dimension-image(2);
    }
}

@include screen(desktop) {
    .videos {
        @include dimension-image(4);
    }
}

@include screen(xxl) {
    .videos {
        @include dimension-image(6);
    }
}