.videos-container {
    position: relative;
    padding-bottom: 50px;

    .pagination {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.videos {
    display: grid;
    align-items: stretch;


    @include dimension-image(1);

    .video {
        margin: 10px auto;
        flex: 1;

        .img {
            margin: auto;
            text-align: center;
            overflow: hidden;
            border: $border;
            border-radius: $border-radius;

            img {
                width: 100%;
                height: auto;
            }
        }

        h2 {
            padding: 5px;
            text-align: left;
            font-size: 1rem;
            font-weight: 400;
        }

        .description{
            text-align: justify;
            font-size: .9rem;
            padding-bottom: 1rem;
            color: $color-dark-gray;
        }
    }
}

@include screen(tablet) {
    .videos {
        @include dimension-image(2);

        .video{
            .description{
                font-size: .8rem;
            }
        }
    }
}

@include screen(desktop) {
    .videos {
        @include dimension-image(4);

        .video{
            .description{
                //font-size: .7rem;
            }
        }
    }
}

@include screen(xxl) {
    .videos {
        @include dimension-image(6);
    }
}