.menu {
    align-items: center;
    border-bottom: 2px solid $color-youtube;
    display: flex;
    height: 4rem;
    justify-content: flex-start;
    margin-bottom: 1rem;
    background-color: $color-dark;

    li {
        height: 100%;

        .menu-item {
            align-items: center;
            background-color: $color-dark;
            color: #fff;
            display: flex;
            height: 100%;
            justify-content: center;
            width: 10rem;

            &:hover {
                background-color: $color-youtube;
            }
        }
    }
}