.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;

    .pagination-item {
        align-items: center;
        background: $white;
        border-bottom: $border;
        border-left: $border;
        border-top: $border;
        color: $color-main;
        cursor: pointer;
        display: flex;
        height: 2rem;
        justify-content: center;
        transition: .2s;
        width: 2rem;

        &:last-child {
            border-bottom-right-radius: $border-radius;
            border-right: $border;
            border-top-right-radius: $border-radius;
        }

        &:first-child {
            border-bottom-left-radius: $border-radius;
            border-top-left-radius: $border-radius;
        }


        &:hover {
            background: lighten($light-blue, 45);

            .pagination-link, .pagination-link:visited {
                color: darken($blue, 10);
            }
        }

        &.active {
            background: $blue;

            .pagination-link {
                color: $white;
            }
        }

        .pagination-link {
            font-size: .9rem;
            text-decoration: none;
        }
    }

}