.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;

    .pagination-item,
    .pagination-item:visited {
        align-items: center;
        background: $color-white;
        border-bottom: $border;
        border-left: $border;
        border-top: $border;
        //cursor: pointer;
        display: flex;
        height: 2rem;
        justify-content: center;
        transition: .2s;
        width: 2rem;

        .pagination-link, .pagination-link:visited {
            color: $color-youtube;
        }

        &:last-child {
            border-bottom-right-radius: $border-radius;
            border-right: $border;
            border-top-right-radius: $border-radius;
        }

        &:first-child {
            border-bottom-left-radius: $border-radius;
            border-top-left-radius: $border-radius;
        }


        &:hover {
            background: lighten($color-youtube, 45);

            .pagination-link, .pagination-link:visited {
                color: $color-youtube;
            }
        }

        &.active {
            background: $color-youtube;

            .pagination-link {
                color: $color-white;
            }
        }

        .pagination-link {
            font-size: .9rem;
            text-decoration: none;
        }

        &.disabled {
            .pagination-link {
                color: $color-gray;

            }

            &:hover {
                background-color: $color-white;
                cursor: auto;

                .pagination-link {
                    cursor: default;
                }
            }
        }
    }

}